@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}


/*
$Primarycolor: ;
$Secondarycolor: ;
$Thirdlycolor: ;
*/



/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --Herotitle: 60px ;

}


@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #0a0a0a;
  }
}
* {
  scroll-behavior: smooth;

}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

}
button {
  cursor: pointer;
}
.pointer {
  cursor: pointer;
}
button:hover {
  transform: scale(105%);
  transition: 0.2s ;
  background-color: black;
  color: white ;
  border-color: black;
  

}

.Button1 {
  border: #ffffff;
  border-width: 5px;
  border-style: solid;
  color: white;
  border-radius: 5px;
}
.Button2 {
  border: #000000;
  border-width: 2px;
  border-style: solid;
  color: black;
  border-radius: 5px;
}

.Menu_Icon {
  transition: 0.3s;
  border-radius: 20%;
  cursor: pointer;
  &:hover {

    padding: 1px 2px 1px 2px;
   
  }
}

.Nav_Background {
  background-color: #ffffff28;
  width: 80%;
  margin: 32px 0;

}


.Hero_Background {
  background-image: url('/23.jpg'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Personb {
  background-image: url('/Personb.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(1);
  transition: 0.3s;
  &:hover {
    filter: grayscale(0);

  }
}

.History_Background {
  background-image: url('/slider-2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Team_Background, .Menubox1_Background {
  background-image: url('/slider-3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Reservation_Background, .Menu_Background ,.Comments_Background {
  background-image: url('/hg.jpg');
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  background-attachment: fixed;
}

.lk {
  background-color: #24160d;
}

.Distance_Background1 {
  background-image: url('/Distance.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.MenuContent_img1{
  background-image: url('/Foodimg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.MenuContent_img2 {
  background-image: url('/Pancakeimg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.MenuContent_img3 {
  background-image: url('/Eggfoodimg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.swiper-slide {
  text-align: center;
  font-size: 18px;


  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: flex;
  object-fit: cover;
}


@layer slidercompnents {
  .FoodImg {
    @apply flex w-full h-full ;
  }

  .Pricesquare {
    @apply flex w-[60px] h-[40px] bg-white absolute top-0 right-0 justify-center items-center;
    border-radius: 0 0 20px 20px ;
  }

  .Pricetext {
    @apply text-2xl text-black font-semibold opacity-70 ;
  }

  .Titlesquare {
    @apply flex w-full h-1/4 bg-white absolute bottom-0 justify-center ;

  }

  .Titletext {
    @apply text-center text-black opacity-70 ;
  }

  .footer {
    @apply flex flex-col text-black mt-5 border-t border-gray-100;
  }
  
  .footer__links-container {
    @apply flex max-md:flex-col flex-wrap justify-between gap-5 sm:px-16 px-6 py-10;
  }
  
  .footer__rights {
    @apply flex flex-col justify-start items-start gap-6 md:gap-20;
  }
  
  .footer__links {
    @apply flex-1 w-full flex flex-wrap max-md:mt-10 gap-4 md:gap-20 md:justify-end;
  }
  
  .footer__link {
    @apply flex flex-col gap-2 md:gap-6 text-base min-w-[120px];
  }
  
  .footer__copyrights {
    @apply flex justify-between items-center flex-wrap mt-10 border-t border-gray-100 sm:px-16 px-6 py-10;
  }
  
  .footer__copyrights-link {
    @apply flex-1 flex sm:justify-end justify-center max-sm:mt-4 gap-10;
  }
  /* END: Footer styles */




  .OfferCard_Container {
    @apply flex flex-col w-80 h-90 bg-white p-4 px-6 rounded-xl my-3 md:my-0 ;
  }
  .OfferCard_Border {
    @apply flex w-50 h-50 rounded-full border-2 border-red-500 border-dashed p-1 ; 
  }
  .OfferCard_Image {
    @apply flex w-full h-full rounded-full ;
  }
  .OfferCard_title {
    @apply text-2xl font-bold py-1 ;
  }
  .OfferCard_bio {
    @apply text-sm mb-1 ;
  }
  .OfferButtons_Container {
    @apply flex ;
  }
  .OfferMore_Button {
    @apply w-1/4 mx-0.5 bg-amber-300 h-10 text-lg text-white p-1 ;
  }
  .OfferOrder_Button {
    @apply w-full mx-0.5 bg-red-400 h-10 text-lg text-white ;
  }
}


.Menuactive {
  transition: 0.5s;
  visibility: visible;
  opacity: 1;
  transform: translateX(0);


}

.Menuinactive {
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  transform: translateX(500px);

}

.animate {
  animation: fadeoutt 0.2s ease-in-out;
}
.animatte {
  animation: fadeouttt 0.2s ease-in-out;
}

.animate2 {
  animation: fadeoutt 0.6s ease-in-out;
}
.animatte2 {
  animation: fadeouttt 0.6s ease-in-out;
}

@keyframes fadeoutt {
  0% {
    opacity: 0;
    transform: scale(98%);
  }100% {
    opacity: 1;
    transform: scale(100%);
  }
}

@keyframes fadeouttt {
  0% {
    opacity: 0;
    transform: scale(98%);
  }100% {
    opacity: 1;
    transform: scale(100%);
  }
}

.upanimate {
  animation: up 1s ease-in-out ;
}

.upanimate2 {
  animation: up 1.3s ease-in-out ;
}

.upanimate3 {
  animation: up 1.6s ease-in-out ;
}

@keyframes up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }100% {
    opacity: 1;
    transform: translateY(0); 
   }
}
@keyframes circleanimate {
  0% {
    transform: rotate(0deg);
  }100% {
    transform: rotate(360deg) 
   }
}
@keyframes circleanimate2 {
  0% {
    transform: rotate(0deg);
  }100% {
    transform: rotate(-360deg) 
   }
}

.hg {

  stroke: rgb(255, 255, 255);
  fill: #ffffff;
}

.circleanimate {
  animation: circleanimate 20s linear infinite;
}

.circleanimate2 {
  animation: circleanimate2 20s linear infinite;
}
.circleanimate::after {
  border: yellow 2px dashed;
  padding: 2px ;
  width: 2px ;
  display: flex;
}
