@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --Herotitle: 60px ;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #0a0a0a;
  }
}
* {
  scroll-behavior: smooth;
  cursor: default;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

}
button {
  cursor: pointer;
}
.pointer {
  cursor: pointer;
}
button:hover {
  transform: scale(105%);
  transition: 0.2s ;
  background-color: black;
  color: white ;
  border-color: black;
  

}

.Button1 {
  border: #ffffff;
  border-width: 5px;
  border-style: solid;
  color: white;

}
.Button2 {
  border: #000000;
  border-width: 3px;
  border-style: solid;
  color: black;
}

.Menu_Icon {
  transition: 0.3s;
  border-radius: 20%;
  cursor: pointer;
  &:hover {

    padding: 1px 2px 1px 2px;
   
  }
}

.Nav_Background {
  background-color: #ffffff28;
  width: 80%;
  margin: 32px 0;
}


.Hero_Background {
  background-image: url('/slider-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.About_Background {
  background-image: url('/slider-3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.Distance_Background1 {
  background-image: url('/slider-2.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.MenuContent_img1{
  background-image: url('/Foodimg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.MenuContent_img2 {
  background-image: url('/Pancakeimg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.MenuContent_img3 {
  background-image: url('/Eggfoodimg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.swiper-slide {
  text-align: center;
  font-size: 18px;


  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: flex;
  object-fit: cover;
}


@layer slidercompnents {
  .FoodImg {
    @apply flex w-full h-full;
  }

  .Pricesquare {
    @apply flex w-[60px] h-[40px] bg-white absolute top-0 right-0 justify-center items-center;
    border-radius: 0 0 20px 20px ;
  }

  .Pricetext {
    @apply text-2xl text-black font-semibold opacity-70 ;
  }

  .Titlesquare {
    @apply flex w-full h-1/4 bg-white absolute bottom-0 justify-center ;

  }

  .Titletext {
    @apply text-center text-black opacity-70 ;
  }
}


.Menuactive {
  transition: 0.5s;
  visibility: visible;
  opacity: 1;
  transform: translateX(0);


}

.Menuinactive {
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  transform: translateX(500px);

}

.animate {
  animation: fadeoutt 0.1s ease-in-out;
}
.animatte {
  animation: fadeouttt 0.1s ease-in-out;
}

@keyframes fadeoutt {
  0% {
    opacity: 0;
    transform: scale(98%);
  }100% {
    opacity: 1;
    transform: scale(100%);
  }
}

@keyframes fadeouttt {
  0% {
    opacity: 0;
    transform: scale(98%);
  }100% {
    opacity: 1;
    transform: scale(100%);
  }
}

.hg {

  stroke: rgb(255, 255, 255);
  fill: #ffffff;
}
